
        body
         {
            background-color: rgb(193, 216, 225);
        }
        hr {
            border-style: dotted none none;
            border-width: 5px;
            border-color: grey;
            width: 20%;
        }
h3{
    background-color: #55BFBF;
}
h1{
    color: rgb(10, 0, 52);
    border-style: none none double;
    border-color: black;
}
input{
    background-color: #55BFBF;
    border-style: double;
    border-width: 1px;
}
